.vtex-product-list-0-x-inputContainer .c-muted-1.ml3 {
    display: none;
}

.vtex-product-list-0-x-inputContainer input.flex-auto {
    text-align: center;
}

.vtex-rich-text-0-x-paragraph--top-minicart span {
    color: #CAAF8A;
}